.vs/模型贴图检索/FileContentIndex/15c3799d-524f-412d-a434-a9030a55af05.vsidx
*.tlog
*.iobj
*.obj
*.vcxproj
*.log
*.pdb
*.ipdb
*.recipe
*.filters
*.user
*.ipch
*.db
*.exe
模型贴图检索/Release/模型贴图检索.vcxproj.FileListAbsolute.txt
*.suo